body{
	background-color:#8FBC8F;
	padding:2em;
	font-family:Comic Sans MS,Verdana,Helvetica;
	font-size:0.75em;
	box-sizing:border-box;
}
h1{
	text-align:center;	
	font-size:2em;
	margin-bottom:1em;
}
#container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:1em;
	background-color:#8FBC8F;
	padding:0.5em;
}
.card{
	display:flex;
	align-content:stretch;
	background-color:white;
	height:15vh;
	width:90%;
	margin:6px;
	border:solid 1px white;
	border-radius:5px;
	box-shadow:5px 5px 15px -6px #000000;
	transition:all 0.3s linear;
}
.card:hover{
	background-color:#DFFCDF;
	border-color:#DFFCDF;
}
img{
	border-radius:50%;
	height:12vh;
	margin:1em;	
}
.col{
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:flex-end;
	text-align:justify;
	margin:2em;
}
a{
	text-decoration:none;
	color:darkgreen;
	font-size:0.9em;
}
@media (min-width:768px){
	*{text-align:center;}
	#container{
		flex-direction:row;
		flex-wrap:wrap;
	}
	.card{
		flex-basis:32%;
		flex-direction:column;
		align-items:center;
		height:30vh;
	}
	a{
		margin-top:1.5em;
		font-size-adjust:1;
	}
	img{
		height:50%;
	}
	.name{
		font-size-adjust:0.7;
	}
	.col{
		align-items:center;
		justify-content:center;
	}
}
@media (min-width:1024px){
	.card{
		flex-basis:20%;
		justify-content:flex-start;
		height:40%;
		width:20%;
	}
	img{
		border-radius:0;
		margin-top:-1px;	/*Ich weiß, nicht so elegant :D doofer Border*/
		width:101%;
		height:auto;
	}
}/*zufrieden bin ich damit nicht, je größer der Bildschirm, desto hässlicher ^^ */